@import "styles/vars.css";

.wrapper {
  padding: 0 calc(18 / 32 * 1em);
  margin-top: calc(30 / 32 * 1em);
  font-size: 1rem;
  text-align: center;
}

.button {
  width: 100%;
  height: calc(88 / 32 * 1em);
  border: 1px solid var(--theme);
  border-radius: 0.25em;
  background-color: var(--theme);
  color: #fff;
  font-size: calc(30 / 32 * 1em);
}

.button[disabled] {
  border-color: var(--grey-lightest); /* UI要求改 */
  background-color: #fff;
  color: var(--grey-lighter); /* UI要求改 */
}
