@import "styles/vars.css";

.modal {
  position: fixed;
  top: calc(300 / 32 * 1em);
  left: 50%;
  width: calc(550 / 32 * 1em);
  border-radius: calc(10 / 32 * 1em);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  background-color: #fff;
  overflow: hidden;
  z-index: 6;
}

/* .order .modal {
  width: 100%;
  top: auto;
  bottom: 0;
  border-radius: 0;
} */

.modal[data-size="2"] {
  width: calc(690 / 32 * 1em);
}

.modal-active {
  composes: modal;
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible;
}

[data-modal-body] {
  @apply --flex-center;

  flex-direction: column;
  min-height: calc((220 - 88) / 30 * 1em);
  padding: 0 1em;
  font-size: calc(30 / 32 * 1rem);
  line-height: 1.5;
}

.modal h3 {
  margin: 0;
  line-height: calc(110 / 28 * 1em);
  text-align: center;
  font-weight: normal;
  font-size: calc(28 / 32 * 1em);
}

.modal input {
  height: calc(80 / 28 * 1em);
  padding: 0 calc(30 / 28 * 1em);
  border: 1px solid var(--grey-lightest);
  border-radius: calc(5 / 28 * 1em);
  font-size: calc(28 / 32 * 1rem);
}

[data-modal-footer] {
  display: flex;
  height: calc(88 / 30 * 1em);
  border-top: 1px solid var(--grey-lightest);
  font-size: calc(30 / 32 * 1em);
}

[data-modal-footer] > button {
  flex: 1;
  border: 0;
  color: var(--grey-lighter);
  background-color: #fff;
}

[data-modal-footer] > button:not(:first-child) {
  border-left: 1px solid var(--grey-lightest);
}

[data-modal-footer] > button[data-danger]:not(:disabled) {
  color: var(--theme);
}
