@import 'styles/vars.css';

.loading {
  margin-top: 1em;
  text-align: center;
  font-size: 1rem;
}

.svg {
  fill: var(--theme);
  width: 2em;
  height: 2em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateZ(1turn);
  }
}
