.input {
  flex: 1;
  display: block;
  width: 100%;
  height: calc(88 / 28 * 1em);
  padding: 0 calc(32 / 28 * 1em);
  border: 0;
  font-size: calc(28 / 32 * 1em);
}

.label {
  flex: 1; /* 在某些情况下，这个label会白包在另一个flex盒子里 */
  display: flex;
  align-items: center;
  background-color: #fff;
}

.label:not(:last-child) {
  margin-top: 1px;
}

.label-text {
  padding-left: calc(34 / 28 * 1em);
  font-size: calc(28 / 32 * 1em);
}
