@import "styles/vars.css";

.input-wrapper {
  margin-top: calc(20 / 32 * 1em);
}

.input-wrapper span {
  flex-basis: 20%;
}

.error {
  padding-left: calc(34 / 24 * 1em);
  margin-top: 1em;
  color: var(--theme);
  font-size: calc(24 / 32 * 1em);
}
