@import 'styles/vars.css';

.state {
  @apply --flex-center;

  height: calc(200 / 30 * 1em);
  background-color: #fff;
  font-size: calc(30 / 32 * 1em);
}

.svg {
  width: calc(46 / 30 * 1em);
  height: calc(46 / 30 * 1em);
  margin-right: calc(10 / 32 * 1em);
  color: #bbb;
}

.state-text {
  margin-left: 0.6em;
  font-style: normal;
  color: #8cc051;
}

.state-text-loss {
  composes: state-text;
  color: var(--theme);
}

.tip {
  margin: calc(20 / 24 * 1em);
  margin-bottom: calc(50 / 24 * 1em);
  color: var(--grey-lighter);
  font-size: calc(24 / 32 * 1em);
}
